.features {
  margin-bottom: 28px;
}

.features__wrapper {
  width: 320px;
  margin: 0 auto;
}

.features__list {
  @include reset-list;

  text-align: center;
}

.features__main {
  color: #ffffff;

  background-color: $blue-color;
}

.features__main-images {
  display: block;

  height: 260px;
}

.features__main-intro {
  height: 210px;
}

.heading-3 {
  font-size: 18px;
  line-height: 26px;

  text-align: center;
}

.features__heading-3 {
  padding-top: 56px;
  margin: 0;
  margin-bottom: 9px;
}

.features__number {
  margin: 0;
  margin-bottom: 15px;
}

.features__description {
  width: 273px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.features__item-images {
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantage__list {
  @include reset-list;
  margin-top: 34px;
  margin-bottom: 37px;
}

.advantage__item {
  position: relative;

  margin-bottom: 28px;
}

.icon__lodging {
  position: absolute;
  top: -10px;
  left: 21px;

  width: 39px;
  height: 37px;

  fill: $blue-color;
}

.icon__food {
  position: absolute;
  top: -5px;
  left: 19px;

  width: 39px;
  height: 37px;

  fill: $blue-color;
}

.icon__suvenirs {
  position: absolute;
  top: -10px;
  left: 21px;

  width: 39px;
  height: 37px;

  fill: $blue-color;
}

.advantage__heading-3 {
  margin: 0;
  margin-bottom: 14px;
  padding-left: 70px;

  text-align: left;
}

.advantage__text {
  margin: 0;
  padding-left: 70px;
  width: 230px;
  text-align: left;
}

.features__main-intro--bridge {
  height: 191px;
}

.features__heading-3--bridge {
  padding-top: 39px;
  margin: 0;
  margin-bottom: 9px;
}

.features__item--rest {
  position: relative;

  height: 168px;
  margin: 0;
  padding: 0;

  background-color: $bg-grey;
}

.features__item--rest::after {
  position: absolute;
  content: "";
  z-index: 100;
  bottom: 0;
  left: 20px;

  width: 280px;
  height: 1px;
  background-color: #d6d6d6;
}

.features__item--rest:last-child::after {
  background-color: $bg-grey;
}

.features__heading-3--rest {
  padding-top: 27px;
  margin: 0;
  margin-bottom: 10px;
}

.features__description-rest {
  width: 247px;
  margin: 0 auto;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .features {
    width: auto;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .features__wrapper {
    width: 768px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    display: flex;
    flex-direction: row;
  }

  .features__main {
    display: flex;

    width: 768px;
    height: 256px;
  }

  .features__main-intro {
    width: 256px;
  }

  .heading-3 {
    font-size: 21px;
    line-height: 26px;
  }

  .features__heading-3 {
    width: 151px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 44px;

    text-align: center;
  }

  .features__number {
    margin-bottom: 21px;
  }

  .features__description {
    width: 170px;
    margin: 0 auto;
    padding: 0;
  }

  .features__main-images {
    display: block;
    width: 512px;
    height: 256px;
  }

  .advantage__list {
    display: flex;
    flex-direction: row;

    min-height: 330px;
    margin: 0;
    padding: 0;
  }

  .advantage__item {
    position: relative;

    width: 256px;
    height: 166px;
    margin: 0;
    padding-top: 158px;
  }

  .advantage__item--suvenirs {
    display: flex;
    flex-direction: column;
    order: 3;
  }

  .advantage__item--food {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .advantage__heading-3 {
    margin: 0;
    margin-bottom: 21px;
    padding: 0;

    font-size: 21px;
    text-align: center;
  }

  .advantage__text {
    width: 170px;
    margin: 0 auto;
    padding: 0;

    text-align: center;
  }

  .advantage__text--lodging {
    width: 156px;
  }

  .advantage__text--food {
    width: 152px;
  }

  .icon__lodging {
    position: absolute;
    order: 1;
    top: 59px;
    left: 90px;

    width: 75px;
    height: 72px;

    fill: $blue-color;
  }

  .icon__suvenirs {
    position: absolute;
    order: 3;
    top: 56px;
    left: 95px;

    width: 64px;
    height: 75px;

    fill: $blue-color;
  }

  .icon__food {
    position: absolute;
    order: 2;
    top: 62px;
    left: 89px;

    width: 77px;
    height: 68px;

    fill: $blue-color;
  }

  .features__main-intro--bridge {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .features__heading-3--bridge {
    width: 151px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 44px;

    text-align: center;
  }

  .features__item--rest {
    display: flex;

    width: 256px;
    height: 256px;
    margin: 0;
    padding: 0;
  }

  .features__item--wrap {
    display: flex;
    flex-direction: column;
    width: 166px;
    margin: 0 auto;
    padding: 0;
  }

  .heading-3__rest {
    width: 105px;
    padding-top: 50px;
  }

  .features__description-rest {
    width: 165px;
    margin-bottom: 56px;
  }

  .features__item--rest::after {
    display: none;
  }
}

//Стили для ПК
@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 54px;
  }

  .features__wrapper {
    width: 1200px;
    min-height: 256px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    display: flex;
    flex-direction: row;
  }

  .features__main {
    display: flex;

    width: 1200px;
    min-height: 256px;

    overflow: hidden;
  }

  .features__main-intro {
    width: 400px;
    height: 256px;
  }

  .features__heading-3 {
    width: 170px;
    margin: 0 auto;
    padding-top: 51px;
    margin-bottom: 10px;

    line-height: 26px;
    text-align: center;
  }

  .features__description {
    width: 290px;
    margin: 0 auto;
    padding: 0;
  }

  .features__main-images {
    display: block;

    width: 800px;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .advantage__list {
    display: flex;
    flex-direction: row;
  }

  .advantage__item {
    position: relative;

    width: 400px;
    height: 166px;
  }

  .advantage__heading-3 {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;

    font-size: 21px;
    text-align: center;
  }

  .advantage__text {
    width: 285px;
    margin: 0 auto;
    padding: 0;

    text-align: center;
  }

  .icon__lodging {
    position: absolute;
    top: 59px;
    left: 161px;

    width: 75px;
    height: 72px;

    fill: $blue-color;
  }

  .icon__suvenirs {
    position: absolute;
    top: 58px;
    left: 167px;

    width: 64px;
    height: 75px;

    fill: $blue-color;
  }

  .icon__food {
    position: absolute;
    top: 62px;
    left: 161px;

    width: 77px;
    height: 68px;

    fill: $blue-color;
  }

  .features__heading-3--bridge {
    width: 151px;
    margin: 0 auto;
    margin-bottom: 11px;
    padding-top: 51px;

    text-align: center;
  }

  .features__description--bridge {
    width: 230px;
    margin: 0 auto;
    padding: 0;
  }

  .features__item--rest {
    display: flex;

    width: 400px;
    height: 256px;
    margin: 0;
    padding: 0;
  }

  .features__item--wrap {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 0;
  }

  .heading-3__rest {
    width: 105px;
    padding-top: 50px;
  }

  .features__heading-3--rest {
    width: 160px;
    padding-top: 44px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .features__description--rest {
    width: 278px;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .features__item--rest::after {
    display: none;
  }
}
