.feedback {
  width: 280px;
  margin: 0 auto;
  margin-top: 18px;
}

.feedback-form__fullname {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 23px;

  font-size: 14px;
  line-height: 26px;
}

.feedback-form__heading-2 {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.feedback-form__heading-2--fullname {
  margin-bottom: 20px;
}

.feedback-form__fullname::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: -20px;

  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}

.feedback-form__container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  max-height: 78px;
  margin: 0;
  padding: 0;
}

.feedback-form__text {
  margin-top: 17px;
  margin-right: 15px;
}

.input-field {
  min-width: 50px;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 16px;
  padding-left: 21px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: $bg-form;
  border: none;
}

.input-field:hover {
  background-color: #e5e5e5;
}

.input-field:active {
  background-color: #ffffff;

  border: 4px solid #e5e5e5;
}


input[type="text"]::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__contacts {
  position: relative;
  margin-bottom: 30px;
}

.feedback-form__heading-2--contacts {
  margin-bottom: 24px;
}

.feedback-form__contacts-text {
  display: block;
  padding-left: 22px;
  margin-bottom: 10px;
}

.feedback-form__contacts-phone,
.feedback-form__contacts-email {
  margin-bottom: 15px;
  padding-top: 16px;
  padding-left: 21px;
  padding-bottom: 16px;
  padding-right: 21px;

  font-size: 16px;
  line-height: 26px;
  font-weight: 700;

  background-color: $bg-form;
  border: none;
}

.feedback-form__button {
  width: 58px;
  height: 58px;

  color: #e6e6e6;
  border: none;
}

.feedback-form__button--phone {
  position: absolute;
  top: 81px;
  right: 0;
}

.feedback-form__button--email {
  position: absolute;
  bottom: 16px;
  right: 0;
}

.feedback-form__contacts::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: -20px;

  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}

.feedback-form__impression {
  position: relative;
  margin-bottom: 63px;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
}

.feedback-form__item {
  position: relative;
  margin-top: 36px;
  margin-left: 78px;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  list-style: none;
}

.feedback-form__radio {
  cursor: pointer;
}

.radio-indicator {
  position: absolute;
  top: -14px;
  left: -78px;
  width: 56px;
  height: 56px;

  background-color: $bg-form;

  border-radius: 50%;
}

.radio-indicator:hover {
  background-color: #e5e5e5;
}

.radio-indicator:active {
  background-color: #d5d5d5;
}

input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;

  background-color: #333333;

  border-radius: 50%;
}

input[type="radio"]:active + .radio-indicator::after {
  background-color: #a4a4a4;
}

.feedback-form__impression::after {
  position: absolute;
  content: "";
  bottom: -45px;
  left: -20px;

  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}

.feedback-form__attraction {
  position: relative;
  margin-bottom: 45px;
}

.feedback-form__attraction-list {
  margin: 0;
  padding: 0;
}

.feedback-form__attraction-item {
  margin-top: 16px;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  list-style: none;
}

.feedback-form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  max-width: 230px;
  cursor: pointer;
}

.checkbox-indicator {
  width: 56px;
  height: 56px;
  margin-right: 23px;

  background-color: $bg-form;

  border-radius: 10%;
}

.checkbox-indicator:hover {
  background-color: #e5e5e5;
}

.checkbox-indicator:active {
  background-color: #d5d5d5;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.feedback-form__attraction::after {
  position: absolute;
  content: "";
  bottom: -27px;
  left: -20px;

  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}

.feedback-form__heading-2--emotions {
  margin-bottom: 16px;
}

.feedback-form__textarea {
  width: 237px;
  height: 130px;
  margin-top: 0;
  margin-bottom: 45px;
  padding: 16px 21px;

  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;

  background-color: $bg-form;
  border: none;
}

.feedback-form__button--send {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: $blue-color;
}

.feedback-form__footnote {
  display: none;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .feedback {
    width: auto;
  }

  .feedback__wrapper {
    width: 648px;
    margin: 0 auto;
  }

  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback-form__heading-2 {
    width: 277px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 26px;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .feedback-form__impression {
    order: 1;

    width: 50%;
    min-height: 295px;
    margin-bottom: 34px;
  }

  .feedback-form__heading-2--impression {
    margin: 0;
    margin-bottom: 50px;

    text-align: left;
  }

  .feedback-form__item {
    margin-bottom: 52px;
    margin-left: 77px;
  }

  .feedback-form__impression::after {
    height: 0;
  }

  .feedback-form__fullname {
    order: 2;

    width: 50%;
    margin-bottom: 50px;
  }

  .feedback-form__heading-2--fullname {
    margin-bottom: 34px;
    margin-left: 58px;

    text-align: left;
  }

  .feedback-form__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    margin: 0;
    padding: 0;
    margin-left: 58px;
  }

  .input-field {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .feedback-form__fullname::after {
    height: 0;
  }

  .feedback-form__contacts {
    order: 3;

    width: 100%;
    min-height: 250px;
    margin-bottom: 25px;
  }

  .feedback-form__heading-2--contacts {
    width: 280px;
    margin-bottom: 3px;
  }

  .feedback-form__contacts-text {
    width: 627px;
    height: 21px;
    margin-bottom: 10px;
  }

  .feedback-form__contacts-phone,
  .feedback-form__contacts-email {
    width: 627px;
    height: 20px;
    margin-bottom: 26px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 0;
  }

  .feedback-form__button--phone {
    top: 84px;
  }

  .feedback-form__button--email {
    top: 198px;
  }

  .feedback-form__contacts::after {
    height: 0;
  }

  .feedback-form__attraction {
    order: 4;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    min-height: 235px;
    margin-bottom: 50px;
  }

  .feedback-form__attraction-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 490px;
    margin-left: 95px;
    padding: 0;
  }

  .feedback-form__attraction-item {
    width: 230px;
    margin-top: 17px;
    margin-right: 30px;
    margin-bottom: 17px;
  }

  .feedback-form__attraction-item:nth-child(2n) {
    margin-right: 0;
  }

  .feedback-form__attraction::after {
    height: 0;
  }

  .feedback-form__emotions {
    order: 5;

    position: relative;

    width: 100%;
    height: 355px;
    padding-bottom: 65px;
  }

  .feedback-form__heading-2--emotions {
    margin-bottom: 33px;
  }

  .feedback-form__textarea--emotions {
    width: 608px;
    height: 130px;
    margin-bottom: 52px;
    padding: 15px 21px;

    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-color: $bg-form;
    border: none;
  }

  .feedback-form__button--send {
    width: 324px;
    margin: 0 auto;
  }

  .feedback-form__footnote {
    position: absolute;
    bottom: 63px;
    right: -1px;

    display: block;
  }
}

//Стили для ПК
@media (min-width: $desktop-width) {
  .feedback {
    width: auto;
  }

  .feedback__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .feedback-form__heading-2 {
    margin-bottom: 48px;
    padding-left: 80px;

    text-align: left;
  }

  .feedback-form__impression {
    min-height: 293px;
    margin-bottom: 32px;
  }

  .feedback-form__item {
    margin-left: 79px;
  }

  .feedback-form__fullname {
    margin-bottom: 48px;
  }

  .feedback-form__heading-2--fullname {
    margin-bottom: 32px;
    padding-left: 22px;
  }

  .feedback-form__container {
    display: flex;
    justify-content: space-between;

    margin-left: 79px;
  }

  .input-field {
    flex-grow: 1;
  }

  .feedback-form__contacts {
    display: flex;
    flex-direction: column;

    min-height: 155px;
    margin-bottom: 26px;
  }

  .feedback-form__heading-2--contacts {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 51px;
    padding: 0;

    text-align: center;
  }

  .feedback-form__wrapper {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback-form__contacts-text:first-child {
    width: 85px;
    margin-right: 0;
  }

  .feedback-form__contacts-text {
    width: 150px;
    height: 21px;
    margin: 0;
    margin-right: 17px;
    padding: 0;
    padding-top: 19px;
  }

  .feedback-form__wrap {
    display: none;
  }

  .feedback-form__contacts-phone {
    width: 295px;
    height: 20px;
    padding-top: 19px;
    margin-right: 74px;
    padding-bottom: 19px;
    padding-right: 0;
  }

  .feedback-form__button--phone {
    position: absolute;

    top: 0;
    left: 342px;
  }

  .feedback-form__contacts-email {
    width: 295px;
    height: 20px;
  }

  .feedback-form__button--email {
    position: absolute;

    top: 0;
    left: 902px;
  }

  .feedback-form__attraction {
    min-height: 193px;
    margin-bottom: 23px;
  }

  .feedback-form__heading-2--attraction {
    margin-bottom: 0;
    padding: 0;

    text-align: center;
  }

  .feedback-form__attraction-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 960px;
    margin: 0;
  }

  .feedback-form__attraction-item {
    width: auto;
    margin-right: 0;
  }

  .feedback-form__emotions {
    width: 100%;
    height: 355px;
    padding-bottom: 70px;
  }

  .feedback-form__heading-2--emotions {
    margin-bottom: 34px;
    padding: 0;

    text-align: center;
  }

  .feedback-form__textarea--emotions {
    width: 918px;
    margin-bottom: 50px;
  }

  .feedback-form__button--send {
    width: 480px;
    padding: 0;
    margin: 0 auto;
  }

  .feedback-form__footnote {
    bottom: 68px;
  }
}
