.feedback {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 51px;
}

.feedback-form__fullname {
  margin-bottom: 50px;

  font-size: 14px;
  line-height: 26px;
}

.feedback-form__heading-2 {
  margin: 0;
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.feedback-form__text {
  margin-right: 15px;
  margin-bottom: 10px;
}

.input-field {
  padding: 13px 0;
  padding-left: 21px;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: $bg-form;
  border: none;
}

input[type="text"]::placeholder {
  color: #000000;
}

.feedback-form__contacts {
  position: relative;
  margin-bottom: 49px;
}

.feedback-form__button {
  width: 51px;
  height: 51px;

  color: #e6e6e6;
  border: none;
}

.feedback-form__button--phone {
  position: absolute;
  top: 65px;
  right: 23px;
}

.feedback-form__button--email {
  position: absolute;
  bottom: 20px;
  right: 23px;
}

.feedback-form__impression {
  margin-bottom: 53px;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
}

.feedback-form__item {
  position: relative;
  margin-left: 78px;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  list-style: none;
}

.feedback-form__radio {
  cursor: pointer;
}

.radio-indicator {
  position: absolute;
  top: 0;
  left: -55px;
  width: 46px;
  height: 46px;

  background-color: $bg-form;

  border-radius: 50%;
}

input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 22px;
  height: 22px;

  background-color: #333333;

  border-radius: 50%;
}

.feedback-form__attraction {
  margin-bottom: 61px;
}

.feedback-form__checkbox {
  cursor: pointer;
}

.checkbox-indicator {
  position: absolute;
  top: 0;
  left: -55px;
  width: 46px;
  height: 46px;

  background-color: $bg-form;

  border-radius: 10%;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;

  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

textarea {
  width: 237px;
  height: 160px;
  margin-bottom: 51px;
  padding: 22px 21px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: $bg-form;
  border: none;
}

.feedback-form__button--send {
  width: 280px;
  margin: 0 auto;
  padding: 19px 21px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: $blue-color;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .feedback {
    width: auto;

    outline: 2px solid red;
  }

  .feedback__wrapper {
    width: 648px;
    margin: 0 auto;

    outline: 2px solid yellow;
  }

  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback-form__impression {
    width: 50%;
    height: 295px;
    margin-bottom: 80px;

    outline: 2px solid green;
  }

  .feedback-form__fullname {
    width: 50%;
    height: 295px;
    margin-bottom: 80px;

    outline: 2px solid green;
  }

  .feedback-form__contacts {
    width: 100%;
    height: 250px;
    margin-bottom: 56px;

    outline: 2px solid green;
  }

  .feedback-form__attraction {
    width: 100%;
    height: 235px;
    margin-bottom: 76px;

    outline: 2px solid green;
  }

  .feedback-form__emotions {
    width: 100%;
    height: 355px;

    outline: 2px solid green;
  }
}

//Стили для ПК
@media (min-width: $desktop-width) {
  .feedback {
    width: auto;

    outline: 2px solid red;
  }

  .feedback__wrapper {
    width: 960px;
    margin: 0 auto;

    outline: 2px solid yellow;
  }

  .feedback-form__impression {
    height: 240px;
    margin-bottom: 71px;

    outline: 2px solid green;
  }

  .feedback-form__fullname {
    height: 240px;
    margin-bottom: 71px;

    outline: 2px solid green;
  }

  .feedback-form__contacts {
    height: 155px;
    margin-bottom: 56px;

    outline: 2px solid green;
  }

  .feedback-form__attraction {
    height: 145px;
    margin-bottom: 74px;

    outline: 2px solid green;
  }

  .feedback-form__emotions {
    width: 100%;
    height: 355px;

    outline: 2px solid green;
  }
}
