.feedback {
  margin-bottom: 51px;
}

.feedback-form__fullname {
  width: 280px;
  font-size: 14px;
  line-height: 26px;
}

.feedback-form__heading-2 {
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
}

.feedback-form__text {
  margin-right: 15px;
}

.input-field {

  padding: 13px 0;
  padding-left: 21px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background: #f2f2f2;
  border: none;
}
