.gallery {
  margin-top: 22px;
  margin-bottom: 40px;
}

.gallery__list {
  @include reset-list;
}

.gallery__item {
  position: relative;
  margin: 0 auto;
  margin-bottom: 29px;
}

.gallery__item::after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: -20px;

  width: 320px;
  height: 1px;
  background: #e5e5e5;
}

.gallery__wrapper {
  width: 280px;
  margin: 0 auto;
}

.gallery__photo {
  margin-bottom: 10px;
}

.gallery__heading-3 {
  margin: 0;
  margin-bottom: 2px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.gallery__text {
  margin: 0;
  margin-bottom: 6px;

  color: #333333;
  text-transform: none;
}

.gallery__like {
  display: flex;
}

.gallery__like--image {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 2px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  background: #ffffff;
  border: none;
}

.gallery__like--svg {
  fill: #e1e1e1;
}

.gallery__like--click {
  margin: 0;
  margin-left: 15px;
  padding-top: 5px;
  font-weight: 700;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .gallery {
    width: auto;
    margin-bottom: 65px;
  }

  .gallery__wrapper {
    width: 648px;
    margin: 0 auto;
  }

  .gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 648px;
    margin: 0 auto;
    padding: 0;
  }

  .gallery__item:first-child {
    width: auto;
    min-height: 400px;
    margin: 0 auto;

    border: none;
  }

  .gallery__item:first-child img {
    height: 400px;
  }

  .gallery__item {
    width: 324px;
    min-height: 267px;
    margin: 0;
    padding: 0;
  }

  .gallery__item img {
    height: 267px;
  }

  .gallery__item::after {
    height: 0;
  }

  .gallery__photo {
    display: block;

    width: 648px;
    margin: 0;
    padding: 0;
  }

  .gallery__description {
    position: relative;

    width: 100%;
    min-height: 66px;
    margin: 0;
    padding-top: 14px;

    background-color: #f2f2f2;
  }

  .gallery__heading-3 {
    padding-left: 20px;
  }

  .gallery__text {
    padding-left: 20px;
  }

  .gallery__like {
    display: block;
  }

  .gallery__like--image {
    margin: 0;
  }

  .gallery__like--svg {
    position: absolute;
    top: 28px;
    left: 239px;
  }

  .gallery__like--click {
    position: absolute;
    top: 24px;
    left: 256px;
  }

  .gallery__like--svg-big {
    position: absolute;
    top: 28px;
    left: 564px;
  }

  .gallery__like--click-big {
    position: absolute;
    top: 24px;
    left: 581px;
  }
}

//Стили для экрана ПК
@media (min-width: $desktop-width) {
  .gallery {
    margin-bottom: 71px;
  }

  .gallery__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .gallery__list {
    width: 1200px;
  }

  .gallery__item:first-child {
    min-height: 400px;
  }

  .gallery__item:first-child img {
    height: 400px;

    overflow: hidden;
  }

  .gallery__item {
    position: relative;

    width: 400px;
    min-height: 267px;
  }

  .gallery__item img {
    height: 267px;

    overflow: hidden;
  }

  .gallery__photo {
    width: 1200px;
  }

  .gallery__description:first-child {
    width: 1180px;
    height: 65px;
    bottom: 0;
    padding-top: 15px;

    background: rgba(0, 0, 0, 0.3);
  }

  .gallery__description {
    position: absolute;
    bottom: 0;

    min-height: 65px;
    padding-top: 15px;

    background: rgba(0, 0, 0, 0.3);
  }

  .gallery__heading-3 {
    color: #ffffff;
  }

  .gallery__text {
    color: #ffffff;
  }

  .gallery__like--image {
    margin: 0;
  }

  .gallery__like--svg {
    top: 29px;
    left: 315px;

    fill: #ffffff;
  }

  .gallery__like--click {
    top: 26px;
    left: 332px;

    color: #ffffff;
  }

  .gallery__like--svg-big {
    top: 29px;
    left: 1115px;

    fill: #ffffff;
  }

  .gallery__like--click-big {
    top: 26px;
    left: 1131px;

    color: #ffffff;
  }
}
