.intro__back {
  position: relative;

  min-height: 390px;
  margin: 0 auto;
  margin-bottom: 40px;
  //padding-top: 54px;
}

.back {
  width: 320px;

  background-color: $bg-grey;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.back__text-sedona {
  position: absolute;
  top: 90px;
  left: 20px;

  width: 282px;
  height: 214px;
}

.back__bg-triangle {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.intro__features {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.intro__promo {
  width: 267px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.intro__bg-triangle {
  position: absolute;
  bottom: -43px;
  left: 0;
}

.intro__text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;

  line-height: 26px;
  text-align: center;
}

//Стили внутрениих страниц мобильный
.intro {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}

.intro--photo {
  margin-bottom: 19px;
  padding-bottom: 26px;
}

.intro--form {
  margin-bottom: 19px;
  padding-bottom: 16px;
}

.intro__back-inner {
  position: relative;
  width: 320px;
  min-height: 158px;
  margin: 0 auto;
}

.back-inner {
  position: relative;
  margin: 0 auto;
  margin-bottom: 39px;

  background-color: $bg-grey;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.back-inner__bg-triangle {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.back-inner__text-sedona {
  position: absolute;
  top: 52px;
  left: 45px;

  width: 229px;
  height: 39px;
}

.heading-2 {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.intro__heading-2 {
  margin: 0;
  margin-bottom: 27px;
}

.intro__text-inner {
  width: 275px;
  margin: 0 auto;
  //margin-bottom: 16px;

  line-height: 24px;
  text-align: center;
}

.intro__text--form {
  margin-bottom: 17px;

  line-height: 24px;
  text-align: center;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .intro {
    width: auto;

    border: none;
  }

  .intro--photo {
    margin-bottom: 44px;
  }

  .intro__back {
    position: relative;

    width: auto;
    min-height: 518px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .back {
    width: 768px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  .back__text-sedona {
    position: absolute;
    top: 77px;
    left: 153px;

    width: 460px;
    height: 350px;
  }

  .back__bg-triangle {
    width: 768px;
  }

  .intro__features {
    width: 100%;
    margin-bottom: 51px;
  }

  .intro__promo {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .intro__text {
    width: 500px;
  }

  //Стили для внутренних страниц планшета
  .substrate {
    background-color: #e5e5e5;
  }

  .intro--form {
    margin-bottom: 57px;
  }

  .intro__back-inner {
    position: relative;
    width: auto;
    height: 290px;
    margin: 0 auto;
  }

  .back-inner {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 75px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .back-inner__text-sedona {
    position: absolute;
    top: 94px;
    left: 154px;

    width: 460px;
    height: 80px;
    text-align: center;
  }

  .back-inner__bg-triangle {
    width: 768px;
  }

  .intro__heading-2 {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
  }

  .intro__text-inner {
    width: 447px;
    margin: 0 auto;

    text-align: center;
  }
}

//Стили для ПК
@media (min-width: $desktop-width) {
  .back {
    width: 1200px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  .back__text-sedona {
    position: absolute;
    top: 77px;
    left: 370px;
  }

  .back__bg-triangle {
    width: 1200px;
  }

  //Стили для внутренних страниц ПК
  .intro--form {
    margin-bottom: 44px;
  }

  .intro__back-inner {
    position: relative;
    width: auto;
    height: 290px;
    margin: 0 auto;
  }

  .back-inner {
    width: 1200px;
    height: 300px;
    margin-bottom: 111px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .back-inner__text-sedona {
    position: absolute;
    top: 102px;
    left: 370px;

    width: 460px;
    height: 80px;
    text-align: center;
  }

  .back-inner__bg-triangle {
    width: 1200px;
  }

  .intro__heading-2 {
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 0;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
  }

  .intro__text {
    width: 768px;
    margin-bottom: 50px;
  }
}
