a {
  color: #ffffff;
}

.main-nav {
  position: relative;

  width: 320px;
  min-height: 56px;
  margin: 0 auto;
}

.main-nav__list {
  @include reset-list;

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.site-nav__item {
  width: 100%;

  text-align: center;

  box-shadow: 0 0 1px rgba(1, 1, 1, 0.2), 0 0 1px rgba(255, 255, 255, 0.2);
}

.site-nav {
  margin: 0;
  padding: 0;
}

.site-nav a {
  display: block;
  padding: 8px 90px;

  background: $blue-color;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #669ec0;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);

  background: #5496bd;
}

.main-nav__close {
  position: absolute;
  top: 17px;
  right: 20px;

  display: none;
}

.close {
  margin: 0;
  padding: 0;

  fill: #ffffff;

  background-color: $blue-color;

  border: none;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  bottom: -40px;

  display: none;
  margin: 0;
  padding: 0;

  background: #ffffff;
  border: none;
}

.toggle svg {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  fill: $blue-color;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  a {
    color: #000000;
  }

  .main-nav__close,
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: auto;
    min-height: 56px;
    margin: 0;
  }

  .main-nav__list {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
  }

  .main-nav__wrapper {
    width: 768px;
    min-height: 56px;
    margin: 0 auto;
  }

  .site-nav {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-nav__item {
    width: 20%;
    margin: 0;
    box-shadow: none;
  }

  .site-nav a {
    margin: 0;
    padding: 14px 0;
    background: #ffffff;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    color: $blue-color;
    background: #ffffff;
  }

  .site-nav a:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .site-nav__item--active a {
    color: #766357;
  }

  .site-nav__item--active a:hover,
  .site-nav__item--active a:focus {
    color: #604e43;
  }

  .site-nav__item--active a:active {
    color: rgba(118, 99, 87, 0.3);
  }

  .site-nav__item:nth-child(2) {
    margin-right: 20%;
  }

  .site-nav__item:nth-child(6) {
    margin-right: 20%;
  }
}

//Стили для экрана компьютера
@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .site-nav {
    position: relative;

    width: 100%;
  }
}
