a {
  color: #ffffff;
}

.main-nav {
  position: relative;

  width: 320px;
  min-height: 56px;
  margin: 0 auto;
}

.main-nav__list {
  @include reset-list;
}

.site-nav__item {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 7px;

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background: $blue-color;
  box-shadow: 0 0 1px rgba(1, 1, 1, 0.2), 0 0 1px rgba(255, 255, 255, 0.2);
}

.main-nav__close {
  position: absolute;
  top: 17px;
  right: 20px;
}

.close {
  margin: 0;
  padding: 0;

  fill: #ffffff;

  background-color: $blue-color;

  border: none;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  bottom: -40px;

  margin: 0;
  padding: 0;

  background: #ffffff;
  border: none;
}

.toggle svg {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  fill: $blue-color;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  a {
    color: #000000;
  }

  .main-nav__close,
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: auto;
    min-height: 56px;
    margin: 0;
  }

  .main-nav__wrapper {
    width: 768px;
    min-height: 56px;
    margin: 0 auto;
  }

  .site-nav {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .site-nav__item {
    box-sizing: border-box;
    width: 20%;
    padding: 14px 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;

    background-color: #ffffff;

    box-shadow: none;
  }

  .site-nav__item:nth-child(2) {
    margin-right: 20%;
  }

  .site-nav__item:nth-child(6) {
    margin-right: 20%;
  }
}

//Стили для экрана компьютера
@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .site-nav {
    position: relative;

    width: 100%;
  }
}
