.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
