.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
}

.block-mock {
  position: relative;

  width: 320px;
  height: 54px;
  margin: 0 auto;
}

.page-header__logo {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .block-mock {
    height: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
