.page-footer__wrapper {
  padding-bottom: 36px;
}

.hashtag {
  margin: 0;
  padding-top: 22px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.social__svg {
  fill: #ffffff;
}

.social__list {
  display: flex;
  justify-content: center;

  @include reset-list;

  margin-top: 36px;
}

.social__item {
  margin-right: 3px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  background: $blue-color;
}

.social__link:hover,
.social__link:focus {
  background: #669ec0;
}

.social__link:active {
  background: #5496bd;
}

.social__link:active .social__svg {
  fill: rgba(255, 255, 255, 0.3);
}

.copyright {
  margin-top: 30px;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright__text {
  line-height: 24px;
  margin-left: 3px;
}

.copyright__svg {
  width: 41px;
  height: 45px;
  padding-top: 5px;
  padding-left: 3px;
}

.copyright__svg:hover {
  fill: $blue-color;
}

.copyright__svg:active {
  fill: #818181;
}

//Внутренние страницы
.hashtag-inner {
  margin: 0;
  padding-top: 23px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin: 0 auto;
  }

  .hashtag {
    margin-top: 46px;
    padding: 0;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    margin-top: 36px;
  }

  .social__list {
    margin: 0;
    margin-left: -8px;
    padding: 0;
  }

  .social__item {
    margin-right: 5px;
  }

  .copyright__text {
    margin: 0;
    margin-top: 46px;
    padding-right: 6px;
  }

  .copyright__svg {
    width: 41px;
    height: 45px;
    margin-top: 37px;
    padding: 0;
  }

  .page-footer__copyright {
    width: 123px;
    margin: 0;
    margin-top: 2px;
    padding: 0;
  }

  .hashtag-inner {
    margin: 0;
    padding-top: 46px;
  }
}

//Стили для экрана ПК
@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    margin-top: 36px;
  }

  .social__item {
    margin-right: 5px;
  }

  .copyright__text {
    margin-top: 46px;
  }

  .copyright__svg {
    width: 41px;
    height: 45px;
    margin-top: 36px;
    padding: 0;
  }
}
