.search {
  text-align: center;
  margin-bottom: 64px;
}

.search__wrapper {
  width: 320px;
  margin: 0 auto;
}

.search__heading {
  display: block;

  margin-bottom: 18px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search__text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 52px;

  line-height: 24px;
}

.search__button {
  display: inline-block;
  margin-bottom: 48px;
  padding: 16px 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: $blue-color;
}

.search__button:hover {
  background-color: #669ec0;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.search__button:disabled {
  background-color: #e5e5e5;
}

//Стили для планшета
@media (min-width: $tablet-width) {
  .search {
    witdh: auto;
    margin: 0 auto;
    margin-bottom: 74px;
  }

  .search__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .search__heading {
    margin-bottom: 32px;

    font-size: 30px;
    line-height: 26px;
  }

  .search__text {
    width: 396px;
    margin-bottom: 58px;
  }

  .search__button {
    margin-bottom: 58px;
    padding: 16px 135px;
  }
}

//Стили для экрана ПК
@media (min-width: $desktop-width) {
  .search {
    margin: 0 auto;
    margin-bottom: 82px;
  }

  .search__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .search__heading {
    margin-bottom: 31px;
  }

  .search__text {
    width: 396px;
    margin-bottom: 64px;
  }

  .search__button {
    margin-bottom: 66px;
    padding: 16px 135px;
  }
}
