.search {
  text-align: center;
}

.search__heading {
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search__text {
  width: 280px;
}

.search__button {
  margin-bottom: 49px;
  padding: 17px 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background: $base-color;
}
