.video__heading-2 {
  margin: 0;
  margin-bottom: 31px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.video__text {
  width: 242px;
  margin: 0 auto;
  margin-bottom: 37px;
}

.video__roller {
  width: 280px;
  height: 45px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
}

.video__scale {
  width: 235px;
  height: 3px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
}

.video__handle {
  width: 10px;
  height: 10px;
  margin-left: 57px;

  border-radius: 5px;
  background: #ffffff;
}

.video__list {
  width: 280px;
  height: 66px;
  margin: 0 auto;
  padding: 0;

  background-color: #f2f2f2;

  list-style: none;
}
