@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  src: url("fonts/ptsans.woff2") format("woff2"), url("fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src: url("fonts/ptsansbold.woff2") format("woff2"), url("fonts/ptsansbold.woff") format("woff");
}

body {
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.substrate {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.container {
  width: 320px;
  margin: 0 auto;
  background: #ffffff;
}

@import "blocks/variables.scss";
@import "blocks/mixins.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/features.scss";
@import "blocks/search.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/gallery.scss";
@import "blocks/video.scss";
@import "blocks/feedback.scss";

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
